<nav>
    <ul>
        {% for item in site.data.navigation.links %}
            <li>
                <a href="{{ item.url }}" {% if item.url == page.url %} class="active"{% endif %}>{{ item.title }}</a>
            </li>
        {% endfor %}
    </ul>

     <button class="toggle" id="theme-toggle" onclick="modeSwitcher()">light</button>

     <ul>
        {% for item in site.data.socials.links %}
            <li class="social">
                <a target="_blank" href="{{ item.url }}">
                    <img src="/assets/images/{{item.title}}.svg">
                </a>
            </li>
        {% endfor %}
    </ul>
</nav>
